{
    "station": {
        "ip": "",
        "name": ""
    },
    "database": {
        "name": "",
        "user": "",
        "host": "",
        "table": ""
    },
    "sensors": [
        {
            "name": "",
            "pin": 0
        }
    ]
}